*.dll
*.pbx
*.epb
*.xdt
*.cache
*.pdb
*.suo
node_modules
libs
bower_components
bin
packages
*.pubxml
*.[Cc]ache
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
KroozeWebSite/obj/Debug/*
KroozeWebSite/wwwroot/assets
*.user
/KroozeWebApi/App_Data
/KroozeWebApi/docs/empresas/CVC/files
PublishProfiles/
*.zip
.vscode/
/KroozeWebApi/Imagens
/KroozeWebApi/CruiseCompanies
/KroozeWebApi/CruiseCompanies/*
*.user
*.p12
*.cer
